.photos-slice {
  display: block;
  height: 450px;

}

.photos-slice .container {
  padding: 20px 0;
  padding-top: 40px;
}

.photos-slice h4 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.3em;
}

.photos-slice img {
  border: 2px solid #dddddd;
}

.photos-slice img:hover {
  cursor: pointer;
}
